{% include footer.html %}

<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>

<!-- Scripts -->
<script src="{{ '/vendor/jquery/jquery.min.js' | relative_url }}"></script>
<script src="{{ '/vendor/bootstrap/js/bootstrap.bundle.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/owl-carousel.js' | relative_url }}"></script>
<script src="{{ '/assets/js/animation.js' | relative_url }}"></script>
<script src="{{ '/assets/js/imagesloaded.js' | relative_url }}"></script>
<script src="{{ '/assets/js/custom.js' | relative_url }}"></script>